<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cannon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DB757C31BFA6EEF0054D5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DB757DB1BFA6EEF0054D5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DB757E61BFA6EEF0054D5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
